<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FilmDev</title>
  </head>
  <body>
    <div class="main-container">
      <h1>FilmDev</h1>
      <div class="text-container">
        <p>Explore your <span class="color">favorite</span> movies</p>
        <p>with <span class="color">FilmDev</span></p>
        <p>
          made by <a class="fufako" href="https://github.com/fufako">fufako</a>
        </p>
      </div>
      <p class="small-info">
        *movies that are in the MongoDB sample database of course
      </p>
      <a href="movies" class="movies-btn">Explore</a>
    </div>
  </body>
</html>
