<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FilmDev</title>
  </head>
  <body>
    <div class="main-container">
      <h1><a href="/">FilmDev</a></h1>
      <div class="movies-container">Movies</div>

      <ul>
        <% for(movie of movies) {%>
        <li><%= movie.title %></li>

        <li><a href="<%= movie.url %>">link</a></li>
        <% } %>
      </ul>
      <form action="" method="post" onsubmit="return true">
        <button name="more" type="submit">More</button>
      </form>
    </div>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href)
      }
      window.addEventListener(
        "scroll",
        function () {
          //When scroll change, you save it on localStorage.
          localStorage.setItem("scrollPosition", window.scrollY)
        },
        false
      )
      window.addEventListener(
        "load",
        function () {
          if (localStorage.getItem("scrollPosition") !== null)
            window.scrollTo(0, localStorage.getItem("scrollPosition"))
        },
        false
      )
    </script>
  </body>
</html>
