@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
}
h1 {
  font-size: 7rem;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1:hover {
  transform: scale(1.05);
}
h1 a {
  text-decoration: none;
  color: black;
}

.text-container {
  text-align: left;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}
.text-container p {
  padding: 0 15px;
  margin: 15px;
  background-color: black;
  color: white;
  width: fit-content;
}
.small-info {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: left;
}
.fufako {
  color: #ffdb58;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.fufako:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}
.color {
  color: #ffdb58;
}
.movies-btn {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  width: 400px;
  height: 93px;
  font-size: 4.5rem;
  background-color: black;
  border: 0;
  font-family: "Bebas Neue", cursive;
  box-shadow: inset 0 0 0 0 #ffdb58;
  color: #ffdb58;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.movies-btn:hover {
  box-shadow: inset 400px 0 0 0 #ffdb58;
  color: black;
  cursor: pointer;
}
